<footer class="text-center w-full p-10 font-sans font-light text-xs">
  <p class="my-4 font-semibold">
  <a class="mx-auto my-4 w-10 block text-douarenn-100" href="/">
  {{ if fileExists "/static/logo.svg" }}
  {{ readFile "/static/logo.svg" | safeHTML}}
  {{ else }}
    <img class="w-32 -mb-4 block" src="/logo.png"/>
  {{ end }}
  </a>
    {{ $.Site.Params.footer }}
  </p>
  <ul class="flex flex-row justify-center gap-2">
    {{ with .Site.Params.social.instagram }}
      <li class="">
        <a class="" href="https://instagram.com/{{ . }}">📷 Instagram</a>
      </li>
    {{ end }} {{ with .Site.Params.social.twitter }}
      <li class="">
        <a class="" href="https://twitter.com/{{ . }}">🐥 Twitter</a>
      </li>
    {{ end }} {{ with .Site.Params.social.youtube }}
      <li class="">
        <a class="" href="https://youtube.com/{{ . }}">🎥 Youtube</a>
      </li>
    {{ end }} {{ with .Site.Params.social.vsco }}
      <li class="">
        <a class="" href="https://vsco.com/{{ . }}">📷 VSCO</a>
      </li>
    {{ end }}
    <a href="mailto:{{ $.Site.Params.social.email }}">✉️ {{ $.Site.Params.social.domain }}</a>
    {{ range .Site.Menus.footer }}
      <li class="">
        <a class="hover:text-{{$.Scratch.Get "color"}} transition ease-in-out duration-200 " href="{{ .URL }}" title="{{ .Title }}">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
  </ul>
</footer>
