<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partialCached "shared_head.html" . }}
    {{ with .OutputFormats.Get "jsonfeed" }}
      <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .RelPermalink | safeURL }}" title="{{ $.Site.Title }}" />
    {{ end -}}
    {{ partial "opengraph.html" . }}
    {{ template "_internal/google_news.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ partial "seo" . }}
  </head>
  <body class="font-body font-semibold leading-relaxed text-sm bg-primary text-gray-100">
    <div class="container my-10 w-screen md:max-w-xl lg:max-w-2xl mx-auto">
      {{ if fileExists "/static/logo.png" }}
        <div class="flex flex-col justify-center content-center place-content-center h-2/3 mb-6">
          <img class="w-32 h-32 place-self-center" src="/logo.png"/>
          <h1 class="text-center font-body">{{ .Site.Title }}</h1>
        </div>
      {{ end }}
      <div class="mx-4 md:mx-0">
        {{ block "main" . }} {{ end }}
      </div>
    </div>

     <script src="https://cdn.usefathom.com/script.js" data-site="{{ .Site.Params.fathom.siteID }}" defer></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
    {{ $.Scratch.Set "jslibs" slice }} {{ $libs := slice "js/medium-zoom.min.js" "js/lazyload.min.js" "js/main.js" }} {{ range $libs }} {{ $.Scratch.Add "jslibs" (resources.Get . ) }} {{ end }} {{ $js := .Scratch.Get "jslibs" | resources.Concat "js/main.js" }} {{ if .Site.IsServer }}
    <script src="{{ $js.RelPermalink }}"></script>
    {{ else }} {{ $js := $js | minify | fingerprint "sha512"}}
    <script src="{{ $js.RelPermalink }}"></script>
    {{ end }}

  </body>
</html>
