<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partialCached "shared_head.html" . }}
    {{ with .OutputFormats.Get "jsonfeed" }}
      <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .RelPermalink | safeURL }}" title="{{ $.Site.Title }}" />
    {{ end -}}
    {{ partial "opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ partial "seo" . }}
  </head>
  <body class="leading-relaxed bg-white text-douarenn-600">
    <div class="bg-douarenn-50 bg-opacity-10 m-0 pt-8 pb-4">
    <div class="container w-screen md:max-w-lg mx-auto">
      <header class="w-full  flex flex-col space-y-0 items-center">
        {{ if fileExists "/static/logo.svg" }}
        {{ readFile "/static/logo.svg" | safeHTML}}
        {{ else }}
          <img class="w-32 -mb-4 block" src="/logo.png"/>
        {{ end }}
        {{ partial "main_menu" . }}
      </header>
    </div>
    </div>
    <div class="container my-16 w-screen md:max-w-lg mx-auto">
      <div class="mx-4 md:mx-0 mb-24">
        {{ block "main" . }} {{ end }}
      </div>
    </div>
    <div id='map' class="w-full h-64"></div>
    {{ partial "footer" . }}

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
    {{ $.Scratch.Set "jslibs" slice }} {{ $libs := slice "js/medium-zoom.min.js" "js/lazyload.min.js" "js/main.js" }} {{ range $libs }} {{ $.Scratch.Add "jslibs" (resources.Get . ) }} {{ end }} {{ $js := .Scratch.Get "jslibs" | resources.Concat "js/main.js" }} {{ if .Site.IsServer }}
    <script src="{{ $js.RelPermalink }}"></script>
    {{ else }} {{ $js := $js | minify | fingerprint "sha512"}}
    <script src="{{ $js.RelPermalink }}"></script>
    <script defer data-domain="{{.Site.Params.plausible.domain}}" src="https://plausible.io/js/plausible.js"></script>
    {{ end }}

  </body>
</html>
